:root {
    --color-band: #8A2BE2;
    --primary-color: #fff;
    --background-color: #F5F5F5;
    --logo-color: #000;
    --nav-bg: #EDEDED;
    --sidebar-logo: #EFF4FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}
