.main-content {
  grid-area: main;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 15px 20px 0px 20px;

  .registration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "total-registrations registrations-month registrations-pending"
      "last-registrations last-registrations last-registrations"
      "last-registrations last-registrations last-registrations";
    gap: 10px;
    height: 85vh;

    .card-registration {
      background-color: var(--primary-color);
      border-radius: 10px;
      padding: 20px;
      border: 3px solid var(--primary-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: gray;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      font-size: 3rem;
    }

    #total-registrations {
      p {
        color: blue;
      }
    }

    #registrations-month {
      p {
        color: green;
      }
    }

    #registrations-pending {
      p {
        color: red;
      }
    }

    #last-registrations {
      border: 3px solid var(--primary-color);
      justify-content: flex-start;
      align-items: stretch;
      background-color: #ffffff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);


      h4{
        text-align: left;
        margin-bottom: 10px;
      }
      table {
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;

        th {
          text-align: left;
          font-size: 12px;
          color: #999999;
          text-transform: uppercase;
          padding: 0 0 15px 0;
          border-bottom: 1px solid #eaeaea;
          font-weight: 700;
        }

        td {
          text-align: left;
          padding: 15px 0;
          border-bottom: 1px solid #eaeaea;
          color: #555555;
          font-size: 14px;
        }

        .align-right {
          text-align: right;
        }

        .status-inactive {
          color: #b3b3b3;
        }

        .status-pending {
          color: #d1a11d;

        }
      }
    }
  }
}

@media (max-width: 873px) {


  .header {

    .user-name,
    .logout,
    .nav-right span {
      display: none;
    }


  }

  .dashboard {
    grid-template-columns: auto 1fr;
  }

  .main-content {
    margin: 15px 10px;
  }

  .main-content .registration {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "total-registrations"
      "registrations-month"
      "registrations-peding"
      "last-registrations";

    height: auto;
  }

  .main-content .registration .card-registration {
    min-height: 150px;
  }

  .main-content .registration h2 {
    top: 0;
  }

  .main-content .registration p {
    font-size: 2.5rem;
  }

  #last-registrations {
    overflow-x: auto;
  }
}