@media screen {


.list-clients {
  grid-area: main;
  background-color: #ffffff;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
  flex: 1;

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h2 {
      font-size: 1rem;
      color: #888888;
      margin: 0;
      font-weight: 700;
    }
  }

  .btn-print{
    background-color: #5763A0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3d456e;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: left;
      font-size: 12px;
      color: #999999;
      text-transform: uppercase;
      padding-bottom: 15px;
      border-bottom: 1px solid #eaeaea;
      font-weight: 700;
    }

    td {
      padding: 15px 0;
      border-bottom: 1px solid #eaeaea;
      color: #555555;
      font-size: 14px;
    }

    .align-right {
      text-align: right;
    }

    .status-inactive {
      color: #b3b3b3;
    }
  }
}
}